
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


@import "tailwindcss";

@theme {
    --font-Poetsen: "Poetsen One", sans-serif
}
@theme {
    --font-Rubik: "Rubik", sans-serif
}
html {
    scroll-behavior: smooth;
}